<div class="evolution-block">
  <h1 class="block-title">{{localize "CF.CharacterSheet.Evolution.Title"}}</h1>

  <div class="block-content">
    <div class="block-header-info small-info">
      {{{localize "CF.CharacterSheet.Evolution.Subtitle"}}}
    </div>

    <div class="block-content-inner u-relative">
      <input type="text" id="system.attributes.evolution" name="system.attributes.evolution"
             value="{{system.attributes.evolution}}" data-dtype="Number" class="attribute-input" />

      <ul class="small-info">
        <li>
          <strong>{{localize "CF.CharacterSheet.Evolution.Points" value=5}}</strong>
          {{localize "CF.CharacterSheet.Evolution.SpecialtyFromTo" from=0 to=1}}
        </li>
        <li>
          <strong>{{localize "CF.CharacterSheet.Evolution.Points" value=10}}</strong>
          {{localize "CF.CharacterSheet.Evolution.SpecialtyFromTo" from=1 to=2}}
        </li>
        <li>
          <strong>{{localize "CF.CharacterSheet.Evolution.Points" value=15}}</strong>

          <ul class="evolution-list">
            <li>{{localize "CF.CharacterSheet.Evolution.SpecialtyFromTo" from=2 to=3}}</li>
            <li>{{localize "CF.CharacterSheet.Evolution.AbilityBonusDesc"}}</li>
            <li>{{localize "CF.CharacterSheet.Evolution.ProfDefBonusDesc"}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
