<div class="specialties">
  <h1 class="block-title top-shadow">
    {{localize "CF.Global.Specialties"}}

    <a class="item-control item-create add-btn" title="{{localize "CF.CharacterSheet.Specialties.Add"}}"
       data-type="specialty">
      <i class="fas fa-plus"></i>
    </a>
  </h1>

  <div class="block-content">
    <div class="block-header-info small-info">
      <div class="grid grid-3col mt-0 mb-0">
        <div class="grid-span-2">
          <strong>{{localize "CF.Global.Name"}}</strong>
          {{localize "CF.CharacterSheet.Specialties.PlusLinkedAbility"}}
        </div>
        <div class="align-center"><strong>{{localize "CF.Global.Rerolls"}}</strong></div>
      </div>
    </div>

    <div class="block-content-inner">
      <ul>
        {{#each specialties as |specialty key|}}
          <li class="specialty item flexrow flex-group-center">
            <div>
              <p class="rollable resource-label" data-specialty="{{specialty._id}}">{{specialty.name}}</p>
            </div>
            <div class="linked-ability">({{localize (lookup @root.abilitiesList specialty.data.ability)}})</div>
            <div class="reroll grid grid-3col">
              <input type="checkbox" readonly disabled
                     {{#if (markSpecialtyActive 1 specialty.data.reroll)}}checked="checked"{{/if}} />
              <input type="checkbox" readonly disabled
                     {{#if (markSpecialtyActive 2 specialty.data.reroll)}}checked="checked"{{/if}} />
              <input type="checkbox" readonly disabled
                     {{#if (markSpecialtyActive 3 specialty.data.reroll)}}checked="checked"{{/if}} />
            </div>
          </li>
        {{/each}}
      </ul>

      <span class="small-info">
        <strong>{{localize "CF.CharacterSheet.Specialties.PointsToSpent"}}</strong>
        {{localize "CF.CharacterSheet.Specialties.PointsCost"}}
      </span>
    </div>
  </div>
</div>
