<div class="specialties">
  <h1 class="block-title top-shadow no-radius">
    {{localize "CF.Global.Specialties"}}

    {{#if editable}}
      <a class="item-control item-create add-btn" title="{{localize "CF.CharacterSheet.Specialties.Add"}}"
         data-type="specialty">
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </h1>

  <div class="block-content">
    <div class="block-header-info small-info">
      <div class="flexrow">
        <div class="flex2">
          <strong>{{localize "CF.Global.Name"}}</strong>
          {{localize "CF.CharacterSheet.Specialties.PlusLinkedAbility"}}
        </div>
        <div class="align-center"><strong>{{localize "CF.Global.Rerolls"}}</strong></div>
      </div>
    </div>

    <div class="block-content-inner">
      <ul>
        {{#each specialties as |specialty key|}}
          <li class="specialty item flexrow flex-group-left rollable" data-item-id="{{specialty._id}}">
            <div class="specialty-name"><p>{{specialty.name}}</p></div>
            <div class="linked-ability">
              ({{localize (lookup @root.abilitiesList specialty.data.ability)}})
            </div>
            <div class="reroll flexrow">
              <div>
                <input type="checkbox" readonly disabled
                       {{#if (markSpecialtyActive 1 specialty.data.reroll)}}checked="checked"{{/if}} />
              </div>
              <div>
                <input type="checkbox" readonly disabled
                       {{#if (markSpecialtyActive 2 specialty.data.reroll)}}checked="checked"{{/if}} />
              </div>
              <div>
                <input type="checkbox" readonly disabled
                       {{#if (markSpecialtyActive 3 specialty.data.reroll)}}checked="checked"{{/if}} />
              </div>
            </div>
          </li>
        {{/each}}
      </ul>

      <span class="small-info">
        <strong>{{localize "CF.CharacterSheet.Specialties.PointsToSpent"}}</strong>
        {{localize "CF.CharacterSheet.Specialties.PointsCost"}}
      </span>
    </div>
  </div>
</div>
