<div class="stacked-block weapons-list">
  <h1 class="block-title">
    {{localize "CF.Global.Weapons"}}

    <a class="item-control item-create add-btn" title="{{localize "CF.CharacterSheet.Weapons.Add"}}"
       data-type="weapon">
      <i class="fas fa-plus"></i>
    </a>
  </h1>

  <div class="block-content">
    <div class="block-header-info small-info align-left">
      <div class="grid grid-3col mt-0 mb-0">
        <div class="grid-span-2">
          <strong>{{localize "CF.Global.Name"}}</strong>
          {{localize "CF.CharacterSheet.Weapons.PlusLinkedAbility"}}
        </div>
        <div class="align-right head-damages"><strong>{{localize "CF.CharacterSheet.Weapons.Damages"}}</strong></div>
      </div>
    </div>

    <div class="block-content-inner">
      <ul>
        {{#each weapons as |weapon id|}}
          <li class="weapon item flexrow flex-group-left" data-item="{{weapon._id}}">
            <div class="flex-auto weapon-name">
              <p class="rollable" data-item="{{weapon._id}}"><strong>{{weapon.name}}</strong></p>
            </div>
            <div class="flex-auto linked-ability">({{localize (lookup @root.abilitiesList weapon.data.ability)}})</div>
            <div class="flex-initial reroll">
              {{localize "CF.Global.xD" x=weapon.data.category}}
              <strong>({{localize "CF.Global.xR" x=weapon.data.reroll}})</strong>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
