<div class="abilities">
  <h1 class="block-title top-shadow no-radius">{{localize "CF.Global.Abilities"}}</h1>

  <div class="block-content">
    <div class="block-header-info small-info">
      {{{localize "CF.CharacterSheet.Abilities.MinMaxInfo" min='<strong>1</strong>' max='<strong>6</strong>'}}}
    </div>

    <div class="block-content-inner">
      {{#each data.abilities as |ability key|}}
        <div class="ability flex flex-group-center">
          <input type="text" id="data.abilities.{{key}}" name="data.abilities.{{key}}"
                 value="{{ability}}" data-dtype="Number" />
          <label for="data.abilities.{{key}}" class="rollable" data-ability="{{ability}}"
                 data-label="{{localize (lookup ../abilitiesList key)}}">{{localize (lookup ../abilitiesList key)}}</label>
        </div>
      {{/each}}

      {{#unless isNpc}}
        <span class="small-info">
          <strong>{{localize "CF.CharacterSheet.Abilities.PointsToSpent"}}</strong>
          {{localize "CF.CharacterSheet.Abilities.PointsCost"}}
        </span>
      {{/unless}}
    </div>
  </div>
</div>
