<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="flexcol">
    <div>
      <div class="banner-yno small-info">
        <p>
          {{{localize "CF.CharacterSheet.Yno" serial=(
              concat '<span class="serial"><span class="arrow-right"></span>' (localize "CF.CharacterSheet.YnoSerial") "</span>"
          )}}}
        </p>
      </div>

      <div class="align-center">
        <img src="{{ cf_image "full_logo.webp" }}" alt="" width="432" height="160" class="logo" />
      </div>
    </div>
    <div>
      <nav class="tabs tabs-nav" data-group="primary">
        <a class="item block-title" data-tab="informations">{{localize "CF.CharacterSheet.Informations"}}</a>
        <a class="item block-title" data-tab="abilities-items">
          {{localize "CF.CharacterSheet.Tabs.AbilitiesSpecialtiesWeapons"}}
        </a>
        <a class="item block-title" data-tab="bio">{{localize "CF.CharacterSheet.Tabs.BiographyEvolution"}}</a>
        <a class="item block-title" data-tab="notes">{{localize "CF.CharacterSheet.Notes"}}</a>
      </nav>

      <section class="tabs-section block-content top-shadow">
        <div class="tab" data-group="primary" data-tab="informations">
          {{~> "systems/channel-fear/templates/actor/parts/actor-informations.hbs"}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="abilities-items">
          {{> "systems/channel-fear/templates/actor/parts/actor-abilities.hbs"}}
          {{> "systems/channel-fear/templates/actor/parts/actor-specialties.hbs"}}
          {{> "systems/channel-fear/templates/actor/parts/actor-weapons.hbs"}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="bio">
          {{> "systems/channel-fear/templates/actor/parts/actor-bio.hbs"}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="notes">
          {{> "systems/channel-fear/templates/actor/parts/actor-notes.hbs"}}
        </div>
      </section>
    </div>
  </div>
</form>
