<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="grid grid-3col no-gap">
    <div class="grid-span-2">
      <div class="banner-yno small-info">
        <p>
          {{{localize "CF.CharacterSheet.Yno" serial=(
              concat '<span class="serial"><span class="arrow-right"></span>' (localize "CF.CharacterSheet.YnoSerial") "</span>"
          )}}}
        </p>
      </div>

      <img src="{{ image "cf_logo.webp" }}" alt="" width="540" height="200" class="logo" />

      <div class="basic-informations">
        <h1 class="block-title top-shadow informations">{{localize "CF.CharacterSheet.Informations"}}</h1>

        <div class="block-content top-shadow">
          <div class="grid grid-12col mt-0 block-content-inner">
            <div class="grid-span-8 informations-container">
              <p class="flex flex-group-center">
                <label for="char-name">{{localize "CF.CharacterSheet.Identity"}}</label>
                <input name="name" type="text" value="{{actor.name}}" id="char-name" />
              </p>
              <p class="flex flex-group-center">
                <label for="char-profile">{{localize "CF.CharacterSheet.Profile"}}</label>
                <input name="data.info.profile" type="text" value="{{data.info.profile}}" id="char-profile" />
              </p>
              <p>
                <label for="char-keywords">{{localize "CF.CharacterSheet.Keywords"}}</label>
                <textarea name="data.info.keywords" id="char-keywords" rows="3">{{data.info.keywords}}</textarea>
              </p>
              <p>
                <label for="char-profdef">{{localize "CF.CharacterSheet.ProfDef"}}</label>
                <textarea name="data.info.profdef" id="char-profdef" rows="5">{{data.info.profdef}}</textarea>
              </p>
            </div>
            <div class="grid-span-4">
              <div class="profile-img-container">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" alt="" title="{{actor.name}}" />
              </div>
            </div>
          </div>

          <div class="grid grid-2col">
            {{> "systems/channel-fear/templates/actor/parts/actor-abilities.hbs"}}
            {{> "systems/channel-fear/templates/actor/parts/actor-specialties.hbs"}}
          </div>
        </div>
      </div>
    </div>
    <div>{{> "systems/channel-fear/templates/actor/parts/actor-right-part.hbs"}}</div>
  </div>
</form>
