<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/channel-fear/templates/item/parts/simple-header.hbs"}}

  <section>
    <div class="flexrow">
      <div>
        <label for="ability-{{item.id}}">{{localize "CF.Global.Ability"}}</label>
        <select name="data.ability" id="ability-{{item.id}}" data-dtype="String">
          {{selectOptions abilitiesList selected=data.ability localize=true}}
        </select>
      </div>
      <div>
        <label for="reroll-{{item.id}}">{{localize "CF.Global.Rerolls"}}</label>
        <select id="reroll-{{item.id}}" name="data.reroll" data-dtype="Number">
          {{#select data.reroll}}
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          {{/select}}
        </select>
      </div>
    </div>
    <div class="flexrow">
      <div>
        <label for="category-{{item.id}}">{{localize "CF.Global.Category"}}</label>
        <select name="data.category" id="category-{{item.id}}" data-dtype="Number">
          {{selectOptions weaponsCategories selected=data.category localize=true}}
        </select>
      </div>
      <div>
        <label for="contact-{{item.id}}">{{localize "CF.Weapons.Contact"}}</label>
        <input type="checkbox" name="data.contact" id="contact-{{item.id}}" value="1" {{checked data.contact}} />
      </div>
    </div>
  </section>
</form>
