<form>
  <div class="form-group">
    <label for="difficulty">{{localize "CF.Rolls.AbilityCheck.Difficulty"}}</label>
    <select id="difficulty" name="difficulty">
      <option value="1">{{localize "CF.Rolls.AbilityCheck.Difficulty1"}}</option>
      <option value="2">{{localize "CF.Rolls.AbilityCheck.Difficulty2"}}</option>
      <option value="3">{{localize "CF.Rolls.AbilityCheck.Difficulty3"}}</option>
      <option value="4">{{localize "CF.Rolls.AbilityCheck.Difficulty4"}}</option>
    </select>
  </div>
  {{#if resourceChoices}}
    <div class="form-group">
      <label for="resources">{{localize "CF.Rolls.AbilityCheck.ResourcesToUse"}}</label>
      <select id="resources" name="resources">
        {{selectOptions resourceChoices}}
      </select>
    </div>
  {{/if}}
</form>
