<form>
  <div class="form-group">
    <label for="difficulty">{{localize "CF.Rolls.Dialog.Difficulty"}}</label>
    <select id="difficulty" name="difficulty" data-dtype="Number">
      <option value="1">{{localize "CF.Rolls.Dialog.Difficulty1"}}</option>
      <option value="2">{{localize "CF.Rolls.Dialog.Difficulty2"}}</option>
      <option value="3">{{localize "CF.Rolls.Dialog.Difficulty3"}}</option>
      <option value="4">{{localize "CF.Rolls.Dialog.Difficulty4"}}</option>
    </select>
  </div>
  {{#if resourceChoices}}
    <div class="form-group">
      <label for="resources">{{localize "CF.Rolls.Dialog.ResourcesToUse"}}</label>
      <select id="resources" name="resources" data-dtype="Number">
        {{selectOptions resourceChoices}}
      </select>
    </div>
  {{/if}}
</form>
