<div class="dice-roll">
  <div class="dice-flavor">
    {{title}}
    {{#if difficulty}}({{localize "CF.Rolls.Difficulty" difficulty=difficulty}}){{/if}}
  </div>
  <div class="dice-result">
    {{#if formula}}
      <div class="dice-formula">{{formula}}</div>
    {{/if}}
    {{#if tooltip}}
      {{{tooltip}}}
    {{/if}}

    <h4 class="dice-total{{#if success}} success{{/if}}{{#if failure}} failure{{/if}}{{#if hardSuccess}} hard-success{{/if}}{{#if hardFailure}} hard-failure{{/if}}">
      {{total}}
    </h4>
  </div>
</div>

{{#if reroll.can}}
  <div class="channelfear chat-actions" data-actor-id="{{actorId}}">
    <button type="button" class="rollable reroll" data-difficulty="{{difficulty}}" data-bonus="{{total}}"
            data-reroll-usable="{{reroll.usable}}" data-reroll-available="{{reroll.available}}"
            data-type="{{reroll.type}}" data-label="{{reroll.label}}" data-actor-id="{{actorId}}">
      <i class="fas fa-dice"></i>
      {{localize "CF.Global.Reroll"}} ({{localize "CF.Global.XOutOfY" x=reroll.usable y=reroll.available}})
    </button>
  </div>
{{/if}}

{{#if success}}{{#if weapon}}
  <div class="channelfear chat-actions" data-actor-id="{{actorId}}">
    <button type="button" class="rollable use-weapon" data-actor-id="{{actorId}}" data-label="{{weapon.name}}"
            data-reroll="{{weapon.system.reroll}}" data-dice="{{weapon.system.category}}">
      <i class="fas fa-fist-raised"></i>
      {{localize "CF.Global.Damages"}} ({{localize "CF.Global.xD" x=weapon.system.category}})
    </button>

    {{#if weapon.system.allMightHitReroll}}
      <button type="button" class="rollable use-weapon" data-actor-id="{{actorId}}" data-label="{{weapon.name}}"
              data-reroll="{{weapon.system.allMightHitReroll}}" data-dice="{{weapon.system.category}}">
        <i class="fas fa-fist-raised"></i>
        {{localize "CF.Rolls.Damages.Card.HitAllMight"}} ({{localize "CF.Global.xD" x=weapon.system.category}})
      </button>
    {{/if}}
  </div>
{{/if}}{{/if}}
