<div class="dice-roll">
  <div class="dice-flavor">
    {{title}}
    ({{localize "CF.Rolls.Difficulty" difficulty=difficulty}})
  </div>
  <div class="dice-result">
    {{#if formula}}
      <div class="dice-formula">{{formula}}</div>
    {{/if}}
    {{#if tooltip}}
      {{{tooltip}}}
    {{/if}}

    <h4 class="dice-total{{#if success}} success{{/if}}{{#if failure}} failure{{/if}}{{#if hardSuccess}} hard-success{{/if}}{{#if hardFailure}} hard-failure{{/if}}">
      {{total}}
    </h4>
  </div>
</div>

{{#if reroll.can}}
  <div class="channelfear dice-reroll" data-actor-id="{{actorId}}">
    <button type="button" class="rollable reroll" data-difficulty="{{difficulty}}" data-bonus="{{total}}"
            data-reroll-usable="{{reroll.usable}}" data-reroll-available="{{reroll.available}}"
            data-label="{{specialty}}" data-actor-id="{{actorId}}">
      <i class="fas fa-dice"></i>
      {{localize "CF.Global.Reroll"}} ({{localize "CF.Global.XOutOfY" x=reroll.usable y=reroll.available}})
    </button>
  </div>
{{/if}}
